.Lego{
   background-color: brown;
   max-width:400px;
   border:5px;
   border-radius:30px;
   padding:30px;
   margin:40px auto;
   box-shadow:0px 15px 35px rgba(0,0,0,0.6);
}
.stat-home{
    display:flex;
    justify-content:space-around;
    padding:15px;
    margin:20px;
    border-radius:15px;
    background-color:#f8f9fa;
}
.stat{
    flex-direction:column;
    display:flex;
}
img{
    width:100px;
    height:100px;
    border:5px auto;
    border-radius:50px; 
    object-fit:cover;
    transition:0.4s ease;
    margin-bottom:15px;
}
body{
    background-color:white;
    text-align:center;
    display:flex;
    flex-direction:column;
    margin:0px;
    padding:20px;
    align-item:center;
    min-height:100vh;
}
img:hover{
    transform:scale(1.1) rotate(3deg);
}
a{
    display: block;
    background-color:lightblue;
    color: white;
    padding:15px;
    margin:15px 0;
    text-decoration: none;
    border-radius:50px;
    font-weight:bold;
    transition:0.3s;
}
a:hover{
    background-color:blue;
    transform: translate Y(-3px);
    box-shadow:0px 5px 15px rgba(0,0,0,0.3;)
}
h1{
    margin-bottom:5px;
}
p{
    line-height:15px;
}
